{% extends "base.html" %}
{% block title %} Main Page {% endblock %}
{% block body %}
<h1> Main Page </h1>
  {% if m %}
  <p>&#9888; {{m}} </p>
  {% endif %}
    <form action = "/Profile">
      <input class = "button" type="submit" value="Profile">
    </form>
    <br>
    <form action = "/auth2">
      <input class = "button" type="submit" name="logout" value="Log Out">
    </form>
    <br>
    <table>
      <tr>
        <th>Title</th>
        <th>Author</th>
      </tr>
    {% for i in smth %}
    <tr>
      <td>
        <a id = "tableText" href={{u[i[0]]}}>
        {{i[2]}} </a>
      </td>
      <td>{{i[1]}}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}
